

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,800&display=swap');

html {
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

@layer base {
  body {
    @apply bg-[white] text-[#202630] tracking-wide
    
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl font-[Raleway]
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }
  
  li {
    @apply cursor-pointer
  }

  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#FF0000] to-[#263238] text-white
  }
  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#0a4122] to-[#25a556] text-white
  }
  .circlehover a {
    @apply rounded-full hover:shadow-xl hover:shadow-gray-400 hover:scale-110 transform transition duration-300 ease-in-out
  }

  
           
  .btn-grad {
    background-image: linear-gradient(to right, #1D4350 0%, #B30000  51%, #1D4350  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #706363;
    border-radius: 10px;
    display: block;
    
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  

  ul li div {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    
    left: -60px;
    display: none;
    background: white;
  }

  ul li:hover > div,
  ul li div:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 120px;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right:5px;
    box-shadow: 0px 3px 10px -1px #ccc;
    font-size : 0.8rem;
    /* margin-top: 1px; */
  }

  ul li div li a:hover {
    padding-left: 15px;
    border-left: 2px solid #B30000;
    transition: all 0.3s ease;
  }

ul li div li a { transition: all 0.5s ease; }

}


  ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    
    left: -10px;
    display: none;
    background: white;
  }

ul li:hover > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 220px;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right:5px;
    box-shadow: 0px 3px 10px -1px #ccc;
    font-size : 0.8rem;
    /* margin-top: 1px; */
  }

ul li ul li a:hover {
    padding-left: 15px;
    border-left: 2px solid #B30000;
    transition: all 0.3s ease;
  }

ul li ul li a { transition: all 0.5s ease; }
<<<<<<< HEAD

=======
>>>>>>> 3ddb377 (Finish set data on google calendar, Now can only track user location)
